<div class="footer container-fluid text-gray-700 rounded">
  <div class="row bg-teal-50 justify-content-center align-items-center">
    <div
      class="col-lg-8 col-md-9 col-10 text-gray-700 p-4 mt-sm-3 mt-1 mb-sm-3"
    >
      <div class="row justify-content-center">
        <div class="col-sm-5 px-sm-4 rounded">
          <h6 class="fw-bold p-2 m-0 mt-3">Contact</h6>
          <div class="px-sm-4 py-sm-2">
            <p>Strada Lorem Impsum Nr. 2 București România</p>
            <p>0770 077 007</p>
          </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-5 px-sm-4 rounded pb-3 pb-sm-0">
          <h6 class="fw-bold p-2 m-0 mt-3">Utile</h6>
          <div class="px-sm-4 py-sm-2">
            <p
              class="m-0 mb-1 pointer transition-color hover:text-gray-900"
              (click)="onNavigate(1)"
            >
              Programări
            </p>
            <p class="m-0 mb-1 pointer">
              <a
                href="https://anpc.ro/"
                class="transition-color hover:text-gray-900"
                target="_blank"
                >ANPC</a
              >
            </p>
            <p
              class="m-0 pointer transition-color hover:text-gray-900"
              (click)="onNavigate(2)"
            >
              Medici
            </p>
          </div>
        </div>
      </div>
    </div>
    <p class="text-center p-2">
      Copyright <i class="fa-solid fa-copyright text-gray-700"></i> 2022
      Dragomir Ionel. Toate drepturile sunt rezervate.
    </p>
  </div>
</div>
