.background-div {
  background-color: var(--blue-50);
}


::ng-deep p-confirmdialog div.p-confirm-dialog {
  font-family: "Quicksand", sans-serif;
}

::ng-deep .p-sidebar .p-sidebar-header + .p-sidebar-content {
  padding: 0;
}

::ng-deep .p-menu {
  height: calc(100vh - 120px);
  border: none;
  width: 100%;
  padding-top: 0;
}

::ng-deep .p-menu-list {
  font-size: 1.1rem;
}

::ng-deep .p-menuitem-text {
  padding: 1em;
}

.height-main {
  height: calc(100vh - 140px);
}