<div class="col-12 m-0 p-0" style="min-height: 80.1vh">
  <div class="row title-borders">
    <div class="col-lg-4 col-md-5 col-sm-6 col-7 bg-teal-200 text-white p-2 text-end">
      <h3 class="m-0 p-2 fw-bold">Resetare Parolă</h3>
    </div>
  </div>
  <div class="row justify-content-center m-4 fadein animation-duration-300">
    <div class="col-lg-6">
      <form [formGroup]="generateCodeForm" (ngSubmit)="onSubmitCode()" *ngIf="isGenerate">
        <h2 class="not-used-red my-3">Modulul de resetare a parolei este dezactivat!</h2>
        <h5>Pentru resetarea parolei avem nevoie de emailul dumneavoastră pentru a vă trimite codul de resetare a parolei.</h5>
        <div class="col-md-12 mt-4">
          <label for="email" class="fw-bold">Email<span class="star"> *</span></label>
          <input type="email" id="email" pInputText class="w-100" formControlName="email"
            placeholder="email@test.com" [ngClass]="{
              'ng-invalid ng-dirty': email.invalid && email.touched
            }" />
          <div *ngIf="email.invalid && email.touched">
            <span class="form-text" *ngIf="email.hasError('required')">Câmpul este obligatoriu.</span>
            <span class="form-text" *ngIf="email.hasError('email_not_found')">Emailul nu există.</span>
            <span class="form-text" *ngIf="
                email.hasError('email') && !email.hasError('maxlength')
              ">Emailul trebuie să fie valid.</span>
            <span class="form-text" *ngIf="email.hasError('maxlength')">Ați depășit limita maximă de 52 de
              caractere.</span>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-12">
            <button pButton type="submit" label="Generare cod" class="w-100 float-right" disabled></button>
          </div>
        </div>
      </form>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmitReset()" *ngIf="!isGenerate">
        <div class="col-lg-6 col-md-7 col-sm-8 col-9 bg-teal-200 text-white p-2 text-end mt-md-3 rounded pe-3">
          <h4 class="m-0">Codul primit prin email</h4>
        </div>
        <div class="col-md-12 mt-4">
          <label for="code" class="fw-bold">Cod<span class="star"> *</span></label>
          <input type="code" id="code" pInputText class="w-100" formControlName="code"
            placeholder="Cod" [ngClass]="{
              'ng-invalid ng-dirty': code.invalid && code.touched
            }" />
          <div *ngIf="code.invalid && code.touched">
            <span class="form-text" *ngIf="code.hasError('required')">Câmpul este obligatoriu.</span>
            <span class="form-text" *ngIf="code.hasError('code_mismatch')">Codul nu corespunde.</span>
          </div>
        </div>
        <div class="col-lg-6 col-md-7 col-sm-8 col-9 bg-teal-200 text-white p-2 text-end mt-md-5 mt-4 rounded pe-3">
          <h4 class="m-0">Noua parolă</h4>
        </div>
        <div class="col-md-12 mt-4">
          <label for="password" class="fw-bold">Parolă<span class="star"> *</span></label>
          <p-password type="password" id="password" styleClass="w-100" formControlName="password" [toggleMask]="true"
            placeholder="Parolă" [ngClass]="{
              'ng-invalid ng-dirty': password.invalid && password.touched
            }"></p-password>
           
          <div *ngIf="password.invalid && password.touched">
            <span class="form-text" *ngIf="password.hasError('required')">Câmpul este obligatoriu.</span>
            <span class="form-text" *ngIf="password.hasError('maxlength') || password.hasError('minlength')">Câmpul trebuie sa aibă între 6 și 32 de caractere.</span>
          </div>  
        </div>
        <div class="col-md-12 mt-4">
          <label for="passwordConfirm" class="fw-bold">Confirmare parolă<span class="star"> *</span></label>
          <p-password type="password" id="passwordConfirm" [feedback]="false" [toggleMask]="true" styleClass="w-100" formControlName="passwordConfirm"
            placeholder="Confirmare parolă" [ngClass]="{
              'ng-invalid ng-dirty': passwordConfirm.invalid && passwordConfirm.touched
            }"></p-password>
           
          <div *ngIf="passwordConfirm.invalid && passwordConfirm.touched">
            <span class="form-text" *ngIf="passwordConfirm.hasError('required')">Câmpul este obligatoriu.</span>
            <span class="form-text" *ngIf="passwordConfirm.hasError('maxlength') || passwordConfirm.hasError('minlength')">Câmpul trebuie sa aibă între 6 și 32 de caractere.</span>
            <span class="form-text" *ngIf="passwordConfirm.hasError('invalid')">Parolele nu corespund.</span>  
          </div>
          
        </div>
        <div class="row mt-4">
          <div class="col-12">
            <button pButton type="submit" label="Resetare" class="w-100 float-right" [disabled]="true"></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
