<div class="col-12 m-0 p-0 pb-3">
  <div class="row bg-home justify-content-end align-items-center">
    <div class="col-10 text-white bg-home-text fadein animation-duration-1000">
      <h3 class="fs-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, dolores!</h3>
      <p class="fs-3">Avem grijă de familia ta!</p>
    </div>
  </div>
  <div class="row fadein animation-duration-300">
    <p class="text-center mt-3 px-5 fw-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem tempore
      nostrum,
      accusantium, placeat ut dolor ipsum consequuntur delectus soluta molestias qui assumenda aperiam? Exercitationem
      voluptatem dolor, magnam illum soluta similique!</p>
  </div>
  <div class="row mt-5">
    <div class="fadein animation-duration-300 col-lg-4 col-md-5 col-sm-6 col-7 bg-teal-200 text-white p-2 text-end">
      <h4 class="m-0">Despre clinica noastră</h4>
    </div>
    <div class="col-10 offset-1 mt-2 p-2 fadein animation-duration-300">
      <p class="text-format p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic consequuntur saepe
        reprehenderit facere quia
        delectus
        vero illo, amet, quos ut totam itaque velit consectetur exercitationem veritatis molestiae excepturi fuga nihil
        laboriosam quae. Dolor, corrupti nisi tempore quae consequuntur architecto laudantium, omnis fuga deserunt unde
        maiores inventore voluptatum culpa molestiae voluptas temporibus eum fugiat possimus aliquam esse at cumque ad
        a?
        Accusantium odit magni velit corrupti tenetur ullam accusamus aspernatur sequi, aperiam fugit quaerat? Eum sequi
        possimus, error odio ut tenetur suscipit dolorum amet nesciunt nulla tempore quas?</p>
    </div>
  </div>
  <div class="row m-2 pt-6 px-md-5 border-top fadein animation-duration-300">
    <div class="col-lg-4">
      <div class="card home-card bg-teal-200 border-none text-white p-3 h-100">
        <div class="card-body text-center">
          <h5 class="card-title fs-4 fw-bold mb-2">21 medici profesioniști</h5>
          <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima exercitationem
            reiciendis asperiores magni ad.</p>
          <a class="btn bg-white fw-bold text-gray-700 mt-2 w-100" (click)="onNavigateDoctors()">Vezi medici</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mt-1 mt-lg-0">
      <div class="card home-card border-none p-3 h-100">
        <div class="card-body text-center">
          <h5 class="card-title fs-4 fw-bold mb-4">10000 pacienți</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, numquam tempora rem
            impedit ut corrupti laboriosam soluta. Error provident atque asperiores?</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mt-1 mt-lg-0">
      <div class="card home-card bg-teal-200 border-none text-white p-3 h-100">
        <div class="card-body text-center">
          <h5 class="card-title fs-4 fw-boldfw-bold mb-4">Programări rapide</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore vero pariatur quisquam?
          </p>
          <a class="btn bg-white fw-bold text-gray-700 fw-bold mt-2 w-100" (click)="onNavigateAppointments()">Fă o programare</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="fadein animation-duration-300 col-lg-4 col-md-5 col-sm-6 col-7 bg-teal-200 text-white p-2 text-end h-50">
      <h4 class="m-0">Tarife</h4>
    </div>
    <div class="col-lg-8 col-md-7 mt-2 mt-md-0 px-5 fadein animation-duration-300">
      <table class="table table-borderless table-hover">
        <thead class="border-bottom">
          <tr>
            <th scope="col">Serviciu</th>
            <th scope="col">Preț</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Consultație</th>
            <td>100 lei</td>
          </tr>
          <tr>
            <th scope="row">Sfaturi dietă</th>
            <td>140 lei</td>
          </tr>
          <tr>
            <th scope="row">Ecografie</th>
            <td>100 lei</td>
          </tr>
          <tr>
            <th scope="row">EKG</th>
            <td>80 lei</td>
          </tr>
          <tr>
            <th scope="row">Examen psihologic</th>
            <td>200 lei</td>
          </tr>
          <tr>
            <th scope="row">Control</th>
            <td>120 lei</td>
          </tr>
          <tr>
            <th scope="row">Referat medical</th>
            <td>100 lei</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row mt-4">
    <div class="fadein animation-duration-300 col-lg-4 col-md-5 col-sm-6 col-7 bg-teal-200 text-white p-2 text-end">
      <h4 class="m-0">Măsuri SARS-CoV-2</h4>
    </div>
    <div class="col-10 offset-1 mt-4 p-2 fadein animation-duration-300">
      <p class="fw-bold">Purtarea măștii de protecție de către toate persoanele aflate în clinică este OBLIGATORIE pe
        toată durata prezenței acestora. Singura excpeție se face în momentul în care pacientul este solicitat de către
        personalul medical pentru a îndeprărta masca.</p>
      <p>
        În cazul în care pacientul este însoțit, nu se acceptă accesul în cabinetul medical a mai mult de
        un însoțitor pentru un pacient.
      </p>
      <p>Intrarea în zona de așteptare și/sau în cabinetele medicale se face DOAR dacă:</p>
      <ul>
        <li>atat pacientul cât și însoțitorul acestuia poartă masca facială personală;</li>
        <li>atat pacientul cât și însoțitorul acestuia dezinfectează mâinile, folosind soluțiile puse la dispoziție la intrare;</li>
        <li>se verificăt temperatura atât a pacientului cât și a însoțitoruluia cu cu ajutorul unui termometru digital de frunte cu infraroșu de către de către un
          membru al personalului; <p class="m-0 my-2">În cazul în care unul dintre aceștia are o temperatura mai mare decât 38℃ sunt rugați să se reprogrameze.</p></li>
        <li>completează un set de documente înainte de consult/tratament:
          <ol>
            <li>acord pentru prelucrarea datelor personale;</li>
            <li>chestionar privind starea de sănătate a pacientului;</li>
            <li>formular de consimțământ informat.</li>
          </ol>
          <p class="m-0 my-2">Pacientul care nu completează documentele de mai sus nu beneficiază de servicii de sănătate în
            respectivul cabinet medical.</p>
        </li>
      </ul>
      <p class="fw-bold">Personalul medical se asigură de respectarea normelor pentru virusul SARS-CoV-2.</p>
      <p class="text-teal-400">Vă mulțumim frumos de înțelegere!</p>
    </div>
  </div>
</div>