.bg-style {
  background-image: url(../../../../assets/images/bg-pagenotfound.png);
  background-position: center;
  background-repeat: no-repeat;
  min-height: 600px;
}

.bg-home-text {
  background-color: rgba(0,0,0, 0.3); 
  color: white;
  padding: 20px;
}