nav {
  font-family: "Lora", serif;
}

.login-btn {
  font-family: "Source Sans Pro", sans-serif;
}

.navbar-brand {
  font-family: "News Cycle", sans-serif;
}

.active {
  color: var(--gray-700) !important;
  border-bottom: 2px solid var(--gray-400) !important;
}

.min-width-80 {
  min-width: 80% !important;
}